:root {
  --primary-color : white;
  --secondary-color : black;
  --accent-color : gray;
}

* {
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}
body{
  color: var(--secondary-color);
  background-color: var(--primary-color);
  margin: 0px;
  pointer-events: all;
}
.locked{
  pointer-events: none;
  overflow: hidden;
  filter: blur(4px);
  z-index: -1;
}
button{
  cursor: pointer;
}

.focused-div{
  pointer-events: auto;
}

p{
  margin: 0px;
}
h1{
  font-size: 30px;
}
input{
  background-color: transparent;
  border-style: solid;
}
select{
  background-color: transparent;
  color: var(--secondary-color);
  border-style: solid;
}

.main-content{
  display: flex;
  position: relative;
  top: 8vh;
  left: 7vw;
  width: 93vw;
  /* height: 100vh; */
}

.home-page{
  width: 100%;
  height: 100vh;
  padding: 20px 0px 0px 20px;
}
.home-section{
  display: grid;
  width: 20vw;
  height: 20vh;
  border: 3px solid var(--secondary-color);
  border-radius: 2vh;
}
.home-section:hover{
  background-color: var(--accent-color);
}
.home-section-text{
  font-weight: bold;
  font-size: 30px;
  padding: 15px 0px 0px 30px;
}
.icon-section-div{
  padding: 15px 0px 0px 30px;
}
.home-calendar-div{
  position: relative;
  height: 40px;
}
.home-calendar-icon{
  height: 50px;
}
.home-date{
  position: absolute;
  top: 2.1vh;
  left: 0.9vw;
  font-size: 20px;
  font-weight: bold;
}
/* .main-content-dark{
  border-top: 2px solid var(--primary-color);
  border-left: 2px solid var(--primary-color);
} */

