:root {
  --primary-color : white;
  --secondary-color : black;
  --accent-color : gray;
}

* {
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}
body{
  color: var(--secondary-color);
  background-color: var(--primary-color);
  margin: 0px;
}
p{
  margin: 0px;
}
h1{
  font-size: 30px;
}
input{
  background-color: transparent;
  border-style: solid;
}
select{
  background-color: transparent;
  color: var(--secondary-color);
  border-style: solid;
}

.main-content{
  display: flex;
  position: relative;
  top: 8vh;
  left: 7vw;
  width: 93vw;
  height: 100vh;
}
/* .main-content-dark{
  border-top: 2px solid var(--primary-color);
  border-left: 2px solid var(--primary-color);
} */

